@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --color-white: #f6f6f6;
    --color-black: #000000;
    --color-light-gray: #818181;
    --color-gray: #555151;
    --color-dark-gray: #303030;
    --color-orange: #f4511e;
    --color-pink: #541af5;
    --color-light-blue: #5b7ef0;
}


body {
    font: 550 15px Lato, sans-serif;
    line-height: 1.8;
    color: var(--color-light-gray);
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-dark-gray);
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 15px;
    line-height: 1.375em;
    color: var(--color-dark-gray);
    font-weight: 400;
    margin-bottom: 0px;

} 

a {
  color: var(--color-light-blue);
  text-decoration: none;
}

a:hover {
  color: var(--color-orange);
  text-decoration: none;

}

.jumbotron {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}

.jumbotron a{
    color: var(--color-white); 
    font-size: 14px;
}

a:hover {
  color: var(--color-light-blue);
  text-decoration: none;

}

.img-transition {
  margin: 1px;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  transition: transform 0.3s ease-out;
}
.img-transition:hover {
  transform: translateY(8px);
}


.bg-grey {
    background-color: var(--color-white);
}
.bg-orange {
  background-color: var(--color-orange);
}

.img-about-luiza{
    margin-right: 550px;
}
.img-about {
    border: 5px solid transparent;
    margin:auto ;
    width: 60%;
    height: 60%;
    opacity: 0.9;
}
.img-about:hover {
    border-color: var(--color-orange); 
}

main.experience main.container section.job-name {
  margin: 1em 0;
  text-align: right;
}

main.experience main.container section.job-name header.company-name {
  font-weight: 800;
  font-size: 18px;
}

main.experience main.container section.job-name main.job-role {
  font-weight: 400;
}

main.experience main.container section.job-description {
  margin: 1em 0;
  border-left: 3px var(--color-gray) solid;
}

@media (max-width: 575px) {
  main.experience main.container section.job-name {
    text-align: left;
    margin-left: 0;
    border-right: none;
    border-left: 2px var(--color-gray) solid;
  }
}

@media (max-width: 575px) {
  main.experience main.container section.job-description {
    border-left: none;
  }
}

main.education main.container section.edu-name {
  margin: 1em 0;
  text-align: right;
}

main.education main.container section.edu-name header.edu-degree {
  font-weight: 800;
  font-size: 18px;
}

main.education main.container section.edu-description {
  margin: 1em 0;
  border-left: 3px var(--color-gray) solid;
}

@media (max-width: 575px) {
  main.education main.container section.edu-name {
    text-align: left;
    margin-left: 0;
    border-right: none;
    border-left: 3px var(--color-gray) solid;
  }
}

@media (max-width: 575px) {
  main.education main.container section.edu-description {
    border-left: none;
  }
}
.navbar {
    margin-bottom: 0;
    background-color: var(--color-orange);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: var(--color-white) !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--color-orange) !important;
    background-color: var(--color-white) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--color-white) !important;
}


/* Portfolio styles start here */


/* Navbar-project styles start here */
.navbar-project {
  width: 95%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}
.navbar-project ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar-project ul li a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 300;
}
.navbar-project ul li a:hover {
  color: var(--color-white);
}
.navbar-project ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--color-white);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}
.navbar-project ul li:hover::after {
  width: 100%;
}
/* Navbar-project styles end here */

/* logo start here */
.logo {
  width: 75px;
  cursor: pointer;
  filter: invert(1);
}
.logo:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
/* logo end here */

.project_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
  position: relative;
}
.splash {
  margin-bottom: 0;
  background-color: var(--color-orange);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: var(--color-black);
}
.title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 300;
}

#portfolio-title {
  font-size: 2.5rem;
}
.underline {
  width: 28rem;
  height: 0.15rem;
  background: var(--color-black);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.btn-area {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: var(--color-black);
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: var(--color-black);
  cursor: pointer;
  transition: 0.5s ease;
  /*background: var(--color-orange);*/
}
.filter-btn:hover {
  background: var(--color-orange);
  color: var(--color-white);
}
.portfolio-item {
  display: grid;
  grid-gap: 1rem 5rem;
  max-width: 50rem;
  width: 450px;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 4em;
  /*background-color: green;*/
}
.portfolio-item.hide {
  display: none;
  background-color: red;
}
.portfolio-item.show {
  display: grid;
  justify-items: center;
  animation: showItem 0.5s ease;
  /*background-color:yellow;*/
}

@-webkit-keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showItem {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.photo {
  object-fit: cover;
  height: 275px;
  width: 400px;
  /*
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: aquamarine;
  */
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--color-gray);
  width: 400px;
}
.item-info h4 {
  margin-bottom: .5rem;
  width: 500px;
  color: var(--color-black);
}
.category-detail {
  color: var(--color-black);
  text-align: right;
  font-size: 15px;
}


.portfolio a{
  color: var(--color-orange); 
  font-size: 12px;
}

.font-size11 {
  font-size: 11px;
  text-align: center;
}
/* Menu project styles end here */

/* Top - Arrow up styles start here */
.top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background: var(--color-lightgray);
  bottom: 1.5rem;
  right: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-dark-charcoal);
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
/*  Top - Arrow up styles end here */

/* -------------- footer  ----------------------*/

footer {
  color: var(--color-white);
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--color-white);
}
footer .brandname {
  margin-bottom: 0px;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-pink);
  font-family: Princess Sofia, Calibri;
  text-shadow: 1px 1px 8px var(--color-light-blue);
}

footer .codedby {
  font-size: 0.8em;
  color: var(--color-light-grey);
}

/* >>>>>>>>>>>>>>>>>> RESPONSIVE STYLES <<<<<<<<<<<<<<<<<< */

/* Responsive styles start here */
@media (max-width: 1100px) {
  #portfolio-title {
    font-size: 2.5rem;
    color: red;
  }
}

@media (max-width: 991px) {
  #portfolio-title {
    font-size: 2.5rem;
    color: purple;
  }
}

@media (max-width: 799px) {
  #portfolio-title {
    font-size: 2.5rem;
    color:orangered;
  }
  .filter-btn {
    font-size: 1.2rem;
    margin: 0 0.1rem;
    padding: 1rem 1rem;
  }
}
@media (max-width: 678px) {
  #portfolio-title {
    font-size: 2.5rem;
    color: green;
  }
}

@media (max-width: 550px) {
  #portfolio-title {
    font-size: 2.5rem;
    color: yellow;
  }
}

@media (max-width: 411px) {
  #portfolio-title {
    font-size: 1.8rem;
    color: blue;
  }
  .filter-btn {
    font-size: 1.0rem;
    padding: 0.5rem 0.5rem;
  }
  .photo {
    height: 175px;
    width: 260px;
  }
  .item-info header {
    width: 250px;
  }
  .category-detail {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.25rem;
  } 
}